<mat-card>
  <mat-card-title>
    Product
  </mat-card-title>
  <mat-card-content class="col-md-12">
    <mat-form-field class="col-md-12">
      <mat-label>Product name</mat-label>
      <input #txtName matInput [(ngModel)]="data.name" required>
    </mat-form-field>
    <mat-form-field class="col-md-12">
      <mat-label>Product description</mat-label>
      <input #txtDescription matInput [(ngModel)]="data.description" required>
    </mat-form-field>
    <mat-form-field class="col-md-12" *ngIf = "categories?.length != 0">
      <mat-label>Category</mat-label>
      <select matSelect matNativeControl required [(ngModel)]="selected">
        <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
      </select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button  type="button" [mat-dialog-close]="{type : ''}" class="btn btn-warning">Cancel</button>
    <button [disabled]="!(data.name.length > 0 && data.description.length > 0 && selected !== 0)" type="button" [mat-dialog-close]="{id : data.id, name : data.name, description : data.description, type :data.typeAction, categoryID : selected}" cdkFocusInitial class="btn btn-success ml-2">Save</button>
  </mat-card-actions>
</mat-card>

